.container{
    margin-top: 25px;
    width: 100%;
}

.title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.input{
    width: 50%;
    padding: 10px;
}

.divText{
    text-align: center;
    width: 100%;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
}
